@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  background-color: #174516;
}

.wrapper {
  background-color: #246B22;
  width: 90%;
  margin: 0 auto;
  outline: 1px solid red;
}

.header {
  width: 100%;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navbar {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar .navbar-link {
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.iAm {
  padding: 30px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.iAm__myCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.iAm__myCont .myCont-contacts {
  font-size: 2em;
  text-decoration: none;
}

.iAm-myPhoto {
  border-radius: 30px;
  width: 250px;
  height: 312px;
  overflow: hidden;
  margin-bottom: 20px;
}

.iAm-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.edukation {
  width: 100%;
  padding: 30px 20px;
}

.edukation__click {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.edukation__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 0;
  -webkit-transition: .5s ease max-height;
  transition: .5s ease max-height;
  position: relative;
}

.edukation .click-headline {
  font-size: 2em;
  text-transform: uppercase;
}

.edukation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  padding: 20px 0;
}

.click-headline::before {
  content: '▶ ';
  font-size: 80%;
  color: #ffffff;
}

.edukation.open .click-headline::before {
  content: '▼ ';
}

.edukation.open .edukation__elem {
  max-height: 500px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  outline: 3px solid blue;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-h2 {
  text-transform: uppercase;
  font-size: 2em;
  padding: 20px 0;
}

.carousel {
  position: relative;
  width: 100%;
  text-align: center;
  outline: 1px solid yellow;
}

.items-container {
  position: relative;
  overflow: hidden;
  outline: 1px solid #9c3279;
  bottom: 0;
  top: 0;
}

.item {
  display: none;
  position: relative;
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
  margin: 0 auto;
  height: 100%;
  outline: 1px solid goldenrod;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  margin: 30px 20%;
  font-size: 32px;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 1px solid #cbdbcb;
}

.description img {
  width: 100%;
  height: auto;
}

.project-name {
  padding: 10px;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 84px;
}

.arrow.right {
  right: 50%;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

.button {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
  position: absolute;
  bottom: 40px;
  right: 50%;
  border-radius: 20%;
  padding: 1%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 12px;
  }
  .control > .arrow {
    display: none;
  }
  .project-name {
    display: none;
  }
  .description {
    border: 0;
  }
  .button {
    display: block;
  }
}
/*# sourceMappingURL=sass.css.map */