$carousel-width: 870px;
$carousel-height: 0.76 * $carousel-width;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}
.slide-img {
   width: $carousel-width;
   height: $carousel-height;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body {
    background-color: #174516;
}

.wrapper {
    background-color: #246B22;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header {
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    &__navbar {
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        .navbar-link {
            text-decoration: none;
            text-transform: uppercase;
            display: flex;
            padding: 5px 10px;
        }
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.iAm {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__myCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .myCont-contacts {
            font-size: 2em;
            text-decoration: none;
        }
    }
    &-myPhoto {
        border-radius: 30px;;
        width: 250px;
        height: 312px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    &-name {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
}

.edukation {
    width: 100%;
    padding: 30px 20px;
    
    &__click{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    &__elem {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        transition: .2s ease max-height;
        position: relative;
    }
    .click-headline {
        font-size: 2em;
        text-transform: uppercase;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2em;
        padding: 20px 0;
    }
}
.click-headline::before {
    content: '▶ ';
    font-size: 80%;
    color: #ffffff;
}
    
.edukation.open .click-headline::before {
    content: '▼ ';
}

.edukation.open .edukation__elem {
        max-height: 500px;
}
.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-carousel {
        width: $carousel-width;
        // height: $carousel-height;
    }
    &-wrapper {
        overflow: hidden;
        position: relative;
        width: $carousel-width;
        // height: $carousel-height;
    }
    &-headline {
        margin-bottom: 20px;
        font-size: 2em;
        text-transform: uppercase;
    }
}

.carousel {
    display: flex;
    position: relative;
    top: 0;
    left: -$carousel-width;
}
.carousel.changing {
    transition: left .2s ease-out;
}

.slide {
    position: relative;
    width: $carousel-width;
    // height: $carousel-height;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.slide-elem {
    display: block;
    &-h3 {
        text-align: center;
    }
    &__discription {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .discription-item {
            font-size: 16px;
            padding: 10px;
        }
    }
    
}

.arrow {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    background-color: #EDD821;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.button {
    display: none;
    background-color: rgba(0, 0, 0, .5);
    outline: none;
    position: absolute;
    bottom: 3%;
    right: 3%;
    border-radius: 20%;
    padding: 2%;
}

@media(max-width: 1222px) {
    body {
        font-size: 12px;
    }
}

@media(max-width: 1165px) {
    $carousel-width: 600px;
    $carousel-height: 0.76 * $carousel-width;
    .slide-img,
    .projects-carousel,
    .projects-wrapper,
    .slide {
        width: $carousel-width;
        // height: 0.76 * $carousel-width;
    }
    .slide-img {
        height: 0.76 * $carousel-width;
    }
    .carousel {
        left: -$carousel-width;
    }
    .iAm {
        &__myCont {
            margin: 0;
        }
    }
    .main {
        padding: 0;
    }
    .wrapper {
        width: 100%;
    }
}

@media(max-width: 840px) {
    $carousel-width: 450px;
    $carousel-height: 0.76 * $carousel-width;
    .slide-img,
    .projects-carousel,
    .projects-wrapper,
    .slide {
        width: $carousel-width;
        // height: 0.76 * $carousel-width;
    }
    .slide-img {
        height: 0.76 * $carousel-width;
    }
    
    .carousel {
        left: -$carousel-width;
    }
}

@media(max-width: 600px) {
    $carousel-width: 375px;
    $carousel-height: 0.76 * $carousel-width;
    .slide-img,
    .projects-carousel,
    .projects-wrapper,
    .slide {
        width: $carousel-width;
        // height: 0.76 * $carousel-width;
    }
    .slide-img {
        height: 0.76 * $carousel-width;
    }
    
    .carousel {
        left: -$carousel-width;
    }
    body {
        font-size: 12px;
    }
    .arrow {
        display: none;
    }
    .button{
        display: block;
    }
    .slide-elem {
        display: none;
    }
}

@media(max-width: 375px) {

    $carousel-width: 360px;
    $carousel-height: 0.76 * $carousel-width;
    .slide-img,
    .projects-carousel,
    .projects-wrapper,
    .slide {
        width: $carousel-width;
        // height: 0.76 * $carousel-width;
     }
     .slide-img {
        height: 0.76 * $carousel-width;
    }
     .carousel {
        left: -$carousel-width;
     }
    
    .main {
        padding: 0;
    }
    .wrapper {
        width: 100%;
    }
}

@media(max-width: 350px) {
    $carousel-width: 280px;
    $carousel-height: 0.76 * $carousel-width;
    .slide-img,
    .projects-carousel,
    .projects-wrapper,
    .slide {
        width: $carousel-width;
        // height: 0.76 * $carousel-width;
     }
     .slide-img {
        height: 0.76 * $carousel-width;
    }
     .carousel {
        left: -$carousel-width;
     }
}