@font-face {
    font-family: AsapRregular;
    src: url('./assets/fonts/asap_regular.ttf');
}
@font-face {
    font-family: PTSansNarrowBold;
    src: url('./assets/fonts/PTSans_NarrowBold.ttf');
}
@font-face {
    font-family: PTSansRegular;
    src: url('./assets/fonts/PTSans_regular.ttf');
}
@font-face {
    font-family: SegoeWP;
    src: url('./assets/fonts/Segoe_WP.ttf');
}
@font-face {
    font-family: SegoeWPLight;
    src: url('./assets/fonts/Segoe_WP_Light.ttf');
}
@font-face {
    font-family: LucidaSansItalic;
    src: url('./assets/fonts/LucidaSansItalic.ttf');
}
@font-face {
    font-family: segoeUiBold;
    src: url('./assets/fonts/segoeUiBold.ttf');
}
@font-face {
    font-family: segoeUiRegular;
    src: url('./assets/fonts/segoeUiRegular.ttf');
}

@font-face {
    font-family: SegoeUILight;
    src: url('./assets/fonts/SegoeUILight.ttf');
}

@font-face {
    font-family: PTSansNarrow;
    src: url('./assets/fonts/PTSansNarrow.ttf');
}

@font-face {
    font-family: OpenSansRegular;
    src: url('./assets/fonts/OpenSansRegular.ttf');
}

@font-face {
    font-family: ArialRegular;
    src: url('./assets/fonts/Arial.ttf');
}


* {
    padding: 0;
    margin: 0;
}

html,
body {
    display: block;
    height: 100vh;
    width: 100%;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    height: 100vh;
    margin: 0 auto;
}

.wrapper__header-main {
    width: 100%;
    background-image: url(./assets/img/header/Layer20.png);
    background-size: cover;
    box-shadow: inset 0 -5px 15px -5px rgba(0,0,0,0.8);

}

.center {
    max-width: 1020px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 1px;
}

.logo__name {
    display: block;
    font-size: 2.56em;
    color: #fff;
    text-transform: uppercase;
    font-family: LucidaSansItalic;
    padding: 14px 0 0 4px;
    letter-spacing: .007em;
    font-weight: normal;
}

.logo__image {
    width:"83px"; 
    height:"83px";
}



.header__navbar {
    display: flex;
    align-items: flex-end;
}

.header__navbar__item {
    height: 2.56em;
    width: 8.25em;
    background-color: #f5c506;
    box-shadow: -.2em -.35em 0 rgba(245, 197, 6, .3), -.5em -.5em 0 rgba(245, 197, 6, .3);
}

.header__navbar__item:first-child{
    border-right: 1px solid #dcb105;
    width: 10.8em;
}

.header__navbar__item:last-child{
    border-left: 1px solid #dcb105;
    width: 9.13em;
}

.header__navbar__item__linc {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.06em;
    font-family: SegoeWP;
    color: #9b7d08;
    padding-top: .55em;
    background-color: #f5c506;

}

.header__navbar__item:first-child .header__navbar__item__icon {
    padding-left: 16px;
}
.header__navbar__item:nth-child(2) .header__navbar__item__name,
.header__navbar__item:last-child .header__navbar__item__name {
    padding-right: 5px;
}

.header__navbar__item__name {
    margin-left: .56em;
}


.header__navbar__item__icon__mobile,
.header__navbar__item__icon__mobile,
.header__navbar__item__icon__mobile {
    display: none;
}

/* section slider */

.slider{
    width: 100%;
    position: relative;
}

.slider__arrow {
    position: absolute;
    width: 32px;
    height: 57px;
}

.slider__arrow.left {
    top: 188px;
}

.slider__arrow.right {
    top: 188px;
    right: 0;
}

.slider__arrow__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #c9a40b;
}

.slider__arrow__link.right {
    background-color: #f5c503;
}

.slider__arrow__link__left{
    padding-right: 3px;
}

.slider__arrow__link__right{
    padding-left: 3px;
}

.slider__player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 66px;
    flex-wrap: wrap;
}

.slider__player__video {
    padding-left: 10px;
    position: relative;
}

.slider__player__h2 {
    text-align: center;
    text-transform: uppercase;
    padding-right: 18px;
    padding-bottom: 30px;
}

h2 {
    font-size: 3.94em;
    font-family: AsapRregular;
    color: #f5c506;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: .008em;
}

.colortext {
    color: #fff;
}

.slider__player__video__mobile {
    display: none;
}


/* section icon */

.icon-wrapper {
    background: url(./assets/img/main/section\ icon-area/layer7.png);
    background-size: cover;
}

.icon {
    display: flex;
    justify-content: space-between;
}

.icon-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 36px;
}


.icon-area__plane__name,
.icon-area__leaf__name,
.icon-area__cloud__name {
    font-family: SegoeUILight;
    text-transform: uppercase;
    font-size: 1.69em;
    line-height: 1;
}    
.icon-area__plane__name {
    padding-top: 13px;
    padding-right: 15px;
    letter-spacing: 0.004em;  
} 

.icon-area__leaf__name {
    padding-top: 18px;
    padding-left: 19px;
}

.icon-area__cloud__name {
    padding-top: 14px;
    padding-left: 17px;
    letter-spacing: 0.004em;
}


.icon-area.cloud,
.icon-area.plane {
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}

.icon-area__cloud__image {
    padding-top: 61px;
    padding-right: 7px;
}

.icon-area__leaf__image {
    padding-top: 37px;
    padding-left: 24px;
}

.icon-area__plane__image {
    padding-top: 54px;
    padding-right: 22px;
}

.icon-area__link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.icon-area__cloud__image__mobil,
.icon-area__leaf__image__mobil,
.icon-area__plane__image__mobil {
    display: none;
}

/* section scroll */

.scroll-wrapper {
    background: url(./assets/img/main/scroll/scrollBackgr.png);
    background-size: cover;
    box-shadow: inset 0 5px 15px -5px rgba(0,0,0,0.8);
}

.scroll {
    display: flex;
    flex-direction: column;
}

.scroll__name {
    display: inline-block;
    font-size: 2.32em;
    text-transform: uppercase;
    font-family: PTSansRegular;
    color: #fff;
    letter-spacing: 0.006em;
    padding-top: 31px;
    padding-left: 1px;
}

.scroll__content {
    display: flex;
    padding-top: 31px;
    justify-content: center;
}

.scroll__content__left {
    width: 100%;
    height: 233px;
    align-items: center;
    background-color: #ec9e03;
    position: relative;
}

.scroll__content__left__p {
    display: inline-block;
    font-family: SegoeWPLight;
    font-size: 1.8em;
    color: #fff;
    padding: 17px 0 0 30px;
    letter-spacing: .015em;
    line-height: 1.351;
}

.scroll__content__left__data {
    height: 86px;
    width: 113px;
    background-color: #ddb101;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 100%);
}

.scroll__content__left__data__time__number {
    color: #fff;
    font-family: segoeUiBold;
    font-size: 3.2em;
    line-height: 1;
}

.scroll__content__left__data__time__month {
    color: #b26529;
    text-transform: uppercase;
    font-family: segoeUiRegular;
    font-size: 1.3em;
    line-height: 1;
}

.scroll__content__center {
    width: 100%;
}

.scroll__content__right {
    height: 233px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
}

.scroll__content__right__wrap {
    width: 97%;
    background-color: #ec9e03;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scroll__content__right__wrap__twit {
    padding-top: 20px;
}

.scroll__content__left__click {
    position: absolute;
    top: 89.5%;
    left: 92.7%;
}

.scroll__content__left__click__link {
    display: block;
}

.scroll__content__left__click__link_img {
    display: block;
}

.scroll__content__right__wrap__click {
    position: absolute;
    top: 89.5%;
    left: 94.4%;
}

.scroll__content__right__wrap__click__link {
    display: block;
}

.scroll__content__right__wrap__click__link_img {
    display: block;
}

.scroll__content__right__wrap__count {
    display: block;
    position: absolute;
    top: 7%;
    right: 5%;
}

.scroll__content__right__wrap__count_span {
    font-family: SegoeWPLight;
    font-size: 1.55em;
    color: #fff;
    display: block;
    line-height: 1;
}

.scroll__content__right__wrap__comments {
    display: none;
}

.scroll__scrolling {
    padding-top: 125px;
    padding-left: 24px;
    padding-bottom: 17px;
    width: 87.8%;
    margin: 0 auto;
    display: block;   
}

input {
    width: 100%;
    height: 15px;
    -webkit-appearance: none;
    border-radius: 15px;
    outline: none;
    background-color: #fae48f;
    cursor: pointer;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #ec9e03;
    height: 15px;
    width: 197px;
    border-radius: 15px;
}

/* section screen */

.wrapper-screen {
    background-image: url(./assets/img/main/screen/Layer\ 32.png);
    background-size: cover;
    box-shadow: inset 0 -5px 15px -5px rgba(0,0,0,0.8);
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 98px;
}

.screen__head{
    padding-top: 37px;
    padding-left: 5px;
}

.screen__head__span {
    font-family: PTSansRegular;
    font-size: 2.69em;
    color: #f5c506;
    text-transform: uppercase;
    letter-spacing: .007em;
}

.screen__content {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.screen__content__image {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-top: 9px;
    padding-left: 9px;  
}


.screen__content__image__notebook__img {
    display: block;
    position: relative;
    top: 36px;
    margin-right: 24px;
}

.screen__content__image__notebook__stick {
    position: absolute;
    top: 2px;
    left: -11px;
}

.screen__content__image__notebook__stick {
    display: flex;
    background-color: #f5c506;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.screen__content__image__notebook__stick__span {
    display: block;
    font-size: 1.17em;
    font-family: PTSansNarrowBold;
    color: #fff;
    text-transform: uppercase;
    padding-top: 3px;
    padding-left: 2px;
    letter-spacing: .01em;
}

.screen__content__image__mobile {
    margin-left: 24px;
}

.screen__content__list {
    padding-top: 63px;
    padding-left: 102px;
}

.screen__content__list__ul__li {
    font-family: OpenSansRegular;
    font-size: 1.375em;
    color: #a9a9a7;
}

.screen__content__list__ul__li {
    list-style: none;
    list-style-image: url(./assets/img/main/screen/marker.png);
    padding-left: 11px;
    margin-top: 25px;
    line-height: 1.2;
}

.screen__content__list__ul__li:nth-child(3) {
    margin-top: 15px;
}

/* section footer */

.footer {
    background-image: url(./assets/img/footer/footer.png);
    background-size: cover;
}

.footer__wrapper__logo__image__mobile {
    display: none;
}

.footer__wrapper__logo {
    padding-top: 6px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
}

.footer__wrapper__logo__name {
    font-family: LucidaSansItalic;
    font-size: 1.82em;
    text-transform: uppercase;
    color: #fff;
    padding-top: 3px;
    padding-left: 6px;
    letter-spacing: .003em;
}

@media(max-width: 640px){
      
    /* header */
    .wrapper {
        width: 640px;
        display: block;
        height: 100vh;
        margin: 0 auto;
    }

    .center {
        max-width: 100%;
    }

    .header {
        display: flex;
        justify-content: space-between;
        background-color: #474747;
    }
    
     .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-left: 12px;
        padding-bottom: 2px;
    }

    .logo__name {
        font-size: 1.2em;
        padding: 0;
        padding-top: 7px;
        padding-left: 6px;
        letter-spacing: .02em;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-family: LucidaSansItalic;
    }

    .logo__image {
        width: 40px;
        height: 39px;
    }

    .header__navbar {
        display: flex;
    }

    .header__navbar__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.88em;
        width: 8.25em;
        box-shadow: none;
        background-color: #f5c506;
    }

    .header__navbar__item:first-child{
        width: 10.65em;
        border-right: 1px solid #dcb105; 
    }
    
    .header__navbar__item:last-child{
        width: 9.3em;
        border-left: 1px solid #dcb105;
    }

    .header__navbar__item__linc {
        height: 100%;
        width: 100%;
        font-size: 1.19em;
        padding-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: SegoeWP;
        color: #9b7d08;
        background-color: #f5c506;
    }

    .header__navbar__item__linc:nth-child(1).img {
        height: 22px;
        width: 24px;
    }

    .header__navbar__item__name {
        margin-left: .56em;
    } 

    .header__navbar__item__icon__mobile,
    .header__navbar__item__icon__mobile,
    .header__navbar__item__icon__mobile {
        display: block;
    }
    .header__navbar__item__icon,
    .header__navbar__item__icon,
    .header__navbar__item__icon {
        display: none;
    }

    /* slider */
    .slider__arrow {
        display: none;
    }

    .slider__player {
        justify-content: center;
        align-items: center;
        padding: 0;
        flex-direction: column;
        display: flex;
    }

    .slider__player__video__mobile {
        display: block;
    }

    .slider__player__video {
        display: none;
    }

    .slider__player__h2 {
        display: none;
    }

    /* icon */
    .icon-wrapper {
        box-shadow: -.2em -.35em url(./assets/img/main/section\ icon-area/layer7.png), -.5em -.5em 0 ;
    }

    .icon {
        display: flex;
        justify-content: center;
    }
    
    .icon-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;  
    }
    .icon-area__link {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #000;
    }
    
    .icon-area__plane__name,
    .icon-area__leaf__name,
    .icon-area__cloud__name {
        font-family: SegoeUILight;
        text-transform: uppercase;
        font-size: 1.44em;
        line-height: 1;
    }    
    .icon-area__plane__name {
        padding: 0;
         padding-top: 17px;
        padding-left: 5px;
        letter-spacing: 0.01em;   
    } 
    
    .icon-area__leaf__name {
        padding: 0;
        padding-top: 17px;
        padding-left: 19px; 
    }
    
    .icon-area__cloud__name {
        padding: 0;
         padding-top: 21px;
        padding-right: 23px;
        letter-spacing: 0.01em; 
    }

    .icon-area__cloud__image,
    .icon-area__leaf__image,
    .icon-area__plane__image {
        display: none;
    }

    .icon-area__cloud__image__mobil,
    .icon-area__leaf__image__mobil,
    .icon-area__plane__image__mobil {
        display: block;
    }
    
    
    .icon-area.cloud,
    .icon-area.plane {
        border: none;
    }
    
    .icon-area__cloud__image__mobil {
        padding-top: 29px;
        padding-right: 34px;
    }
    
    .icon-area__leaf__image__mobil {
        padding-top: 25px;
        padding-left: 18px;
    }
    
    .icon-area__plane__image__mobil {
        padding-top: 25px;
        padding-right: 6px;
    }


    /* scroll */

    .scroll-wrapper {
        background: none;
    }
    
    .scroll {
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }
    
    .scroll__name {
        display: none;
    }
    
    .scroll__content {
         display: flex;
         padding: 0;
       padding-top: 11px;
        justify-content: center; 
        flex-wrap: wrap;

    }
    
    .scroll__content__left {
        margin-right: 9px;
        width: 300px;
        height: 232px;
        align-items: center;
        background-color: #ec9e03;
        position: relative;
    }
    
    .scroll__content__left__p {
        padding: 14px 10px 0 27px;
        line-height: 1.21;
        letter-spacing: .015em;

        display: inline-block;
        font-family: SegoeWPLight;
        font-size: 1.8em;
        color: #fff;
    }

    .scroll__content__center {
        width: 315px;
    }
    
    .scroll__content__left__data {
        display: none;
    }
    
    .scroll__content__right {
        margin-top: 5px;
        background-color: #f5c507;
        height: 233px;
        width: 100%;
        display: flex;
        padding: 0;
    }
    
    .scroll__content__right__wrap {
        background-color: #f5c507;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .scroll__content__right__wrap__twit {
        padding-top: 18px;
        padding-left: 83px;
        display: block;
    }
    
    .scroll__content__left__click {
         position: absolute;
        top: 86%;
        left: 92.7%;
    }
    
    .scroll__content__right__wrap__click {
        display: none;
    }
    
    .scroll__content__right__wrap__count {
         display: none;
    }
    
    .scroll__scrolling {
        display: none;    
    }


    

    .scroll__content__right__wrap__comments{
        display: flex;
        flex-direction: column;
        align-items: flex-end ;
        padding-top: 6px;
        padding-right: 25px;
    }
    .scroll__content__right__wrap__comments__message {
        background-image: url(./assets/img/main/scroll/RoundedRectangle.png);
        background-size: cover;
        height: 42px;
        width: 285px;
        margin: 7px;
        display: flex;
        align-items: center;
    }
    .scroll__content__right__wrap__comments__message:first-child {
        background-image: url(./assets/img/main/scroll/RoundedRectangleFirst.png);
        background-size: cover;
    }

    .scroll__content__right__wrap__comments__message__span {
        display: block;
        font-family: ArialRegular;
        font-size: .82em;
        color: #8f8e8e;
        padding-left: 30px;
        padding-right: 30px;
    }
    .scroll__content__right__wrap__comments__window{
        display: flex;
        margin-top: 6px;
        align-items: center;
        margin-right: 7px;
    }
    
    .scroll__content__right__wrap__comments__window__input{
        height: 29px;
        width: 200px;
        border-radius: 10px 0 0 10px;
        outline: none;
        display: block;
        border: none;
        border: 1px solid #d0a806;
        cursor: text;
    }
    .scroll__content__right__wrap__comments__window__bth {
        height: 31px;
        width: 69px;
        border-radius: 0 10px 10px 0;
        border: none;
        border: 1px solid #d0a806;
        outline: none;
        display: block;
        background-color: #d3910f;
        color: #fff;
        font-size: .94em;
        font-family: ArialRegular;
        cursor: pointer;
    }
    
    /* screen */

    .wrapper-screen {
        background-image: none;
        background-color: #474747;
    }
    
    .screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 91px;
    }
    
    .screen__head{
        padding-top: 30px;
        padding-left: 0px;
        padding-right: 10px;
    }
    
    .screen__head__span {
        letter-spacing: 0.01em;  
        font-size: 2.44em;
        font-family: OpenSansRegular;
        color: #f5c506;
        text-transform: uppercase;
    }
    
    .screen__content {
         display: flex;
        width: 100%;
    }
    
    .screen__content__image {
         display: flex;
        align-items: flex-end;
        position: relative;
        padding-top: 37px;
    }
    
    .screen__content__image__notebook__img {
         display: block;
        position: relative;
        top: 36px;
        padding-left: 57px;
       margin-right: 24px;
    }
    
    .screen__content__image__notebook__stick {
        top: 32px;
        left: 27px;


        position: absolute;
    }
    
    .screen__content__image__notebook__stick {
         display: flex;
        background-color: #f5c506;
        height: 116px;
        width: 116px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
    
    .screen__content__image__notebook__stick__span {
         display: block;
        font-size: 1.17em;
        font-family: PTSansNarrowBold;
        color: #fff;
        text-transform: uppercase;
        padding-top: 3px;
        padding-left: 2px;
        letter-spacing: .01em; 
    }
    
    .screen__content__image__mobile {
        margin-left: 25px;
    }
    
    .screen__content__list {
        display: none;
    }

    /* footer */

    .footer {
        background-color: #4c4c4c;
        box-shadow: 0 0 15px rgba(0,0,0,0.8); 
    }

    .footer__wrapper__logo__image__mobile {
        display: block;
    }
    .footer__wrapper__logo__image {
        display: none;
    }

    .footer__wrapper__logo {
        padding-left: 65px;

        display: flex;
        padding-top: 6px;
        padding-bottom: 6px;
        align-items: center;
    }

    .footer__wrapper__logo__name {
        font-size: 1.04em;
        padding: 0;
        padding-left: 9px;
        padding-top: 2px;


        font-family: LucidaSansItalic;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: .003em;
    } 


}